:root {
    --white: #fff;
    --black: #000;
    --primary: #2b5c7f;
    --success: #72a647;
    --info: #845a23;
    --green: #72a647;
    --blue-100: #c3d8e7;
}

@font-face {
    font-family: "Sarmady ExtraLight";
    src: url("../fonts/Sarmady-ExtraLight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sarmady";
    src: url("../fonts/Sarmady-Regular.otf") format("opentype");
    font-weight: 400 500 600 700;
    font-style: normal;
}

// material
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/material-icons.woff2") format("woff2");
}

@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/material-symbols-outlined.woff2") format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    overflow-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    [lang="ar"] & {
        direction: rtl;
    }
}

.material-icons-outlined {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    [lang="ar"] & {
        direction: rtl;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // outline: 1px solid red;
}

html {
    background: none !important;
    border: none;
}

body {
    font-size: 16px !important;
    font-family: "Sarmady", sans-serif !important;

    text-align: start;
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    @media (max-width: 1199px) {
        font-size: clamp(0.75rem, 3.5vw, 1rem) !important;
    }

    &.home {
        overflow: hidden;
    }

    [lang="ar"] & {
        direction: rtl !important;
    }

    &[data-bs-theme="dark"] {
        &::-webkit-scrollbar-track,
        *::-webkit-scrollbar-track {
            background-color: #ddd;
        }

        &::-webkit-scrollbar-thumb,
        *::-webkit-scrollbar-thumb {
            background-color: #919191;

            &:hover {
                background-color: #6b6b6b;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0.63rem;
    height: 0.5rem;

    @media (max-width: 767px) {
        width: 0.5rem;
    }
}

::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
    background-color: rgba($black, 0.5);
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
    background-color: rgba($black, 0.5);
    border-radius: 10px;

    &:hover {
        background-color: rgba($black, 0.6);
    }
}

img {
    &:not([src*=".svg"]) {
        object-fit: cover;
    }
}

p,
h6 {
    margin-bottom: 0;
    line-height: 1.75rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    outline: none !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

textarea {
    resize: none;
}

video,
input {
    outline: 0 !important;
}

button,
[class*="btn"],
.btn {
    outline: 0 !important;

    &:hover {
        filter: saturate(1.2);
        opacity: 1 !important;
    }
}

.form-control.en,
[type="email"] {
    html:lang(ar) & {
        direction: ltr;
        text-align: end;
    }
}

label.required {
    &::before {
        content: "*";
        color: $primary;
    }
}

table {
    th,
    td {
        vertical-align: middle;
        text-align: center;
        border-color: #ccc;

        @media (max-width: 991px) {
            white-space: nowrap;
        }
    }

    &.custom {
        thead th,
        tfoot td {
            border: none;
            padding-block: 0.5rem !important;
        }
    }

    &.primary {
        th {
            background: linear-gradient(180deg, #3c80b0 -0.99%, #165578 95.36%);
            color: $white;
        }

        th,
        td {
            border-color: #639ac2;
        }

        &.custom {
            th {
                background: lighten($primary, 5%);
            }
        }
    }

    &.success {
        th,
        tfoot td {
            @extend .btn-gradient;
        }

        th,
        td {
            border-color: rgba($black, 0.2);
        }

        &.custom {
            th {
                background: darken($success, 5%);
            }
        }
    }

    th,
    tfoot td {
        font-size: 1.5rem;
        font-weight: 700;

        color: $white;
        border-radius: 0 !important;
        padding-block: 1.6rem !important;

        @media (max-width: 1199px) {
            font-size: 1.25rem;
            padding-block: 1rem !important;
        }
    }

    tbody td:first-of-type,
    tfoot td:first-of-type,
    thead th:first-of-type {
        text-align: start;
        padding-inline-start: 2rem;
    }

    td {
        font-size: 1.5rem;
        font-weight: 500;
        color: $gray-500 !important;
        padding-block: 1.6rem !important;

        @media (max-width: 1199px) {
            font-size: 1.25rem;
        }
    }

    tfoot {
        td {
            color: $white !important;
        }
    }
}

section {
    position: relative;

    .sec-arrows {
        position: absolute;
        top: -600px;
        inset-inline-start: -60px;

        width: 52px;
        opacity: 0;
        transition: all 1s ease-in-out;

        @media (max-width: 991px) {
            display: none !important;
        }
    }

    &.aos-animate {
        .sec-arrows {
            top: -20px;
            inset-inline-start: -60px;

            width: 52px;
            opacity: 1;
            transition: all 1s ease-in-out;

            @media (max-width: 1199px) {
                margin-inline-start: 0;
                width: 20px;
            }
        }
    }
}

.text-primary-light {
    color: $blue-500;
}

.counter-percent {
    position: relative;

    &::before {
        content: "%";
    }
}

.counter-plus {
    position: relative;

    &::before {
        content: "+";
    }
}

// backgrounds
.sec-dark {
    background-color: $light-success !important;
}

.sec-dark-primary {
    background-color: #ecf2f7 !important;
}

.sec-arrow-end {
    position: relative;

    &::after {
        content: url("../images/arrows/left/12.svg");
        position: absolute;
        top: 0;
        inset-inline-end: 100px;
        // transform: scale(7);
    }
}

.sec-arrow-end-right {
    @media (min-width: 1200px) {
        background: url("../images/arrows/right/3.svg") no-repeat bottom -10% left / 15%;
    }
}

.sec-logo-start {
    &.logo-1 {
        background: url("../images/logo/1.svg") no-repeat center right;
    }

    &.logo-2 {
        background: url("../images/logo/2.svg") no-repeat center right;
    }
}

.sec-logo-end {
    &.logo-1 {
        background: url("../images/logo/1.svg") no-repeat center left;
    }

    &.logo-2 {
        background: url("../images/logo/2.svg") no-repeat center left;
    }
}

[data-aos="fade-up"] {
    transform: translate3d(0, 100px, 0);
}
