.download-modal {
    .modal-dialog {
        @media (min-width: 1200px) {
            max-width: 890px;
        }
    }

    .modal-content {
        border: none;
        border-radius: 1.75rem;

        @media (max-width: 1199px) {
            overflow-y: auto;
        }
    }

    .modal-header {
        padding: 3.5rem 3.5rem 0;
        flex-direction: column;
        border: none;

        @media (max-width: 1199px) {
            padding: 1rem 1rem 0;
        }

        .flex-between {
            flex-direction: row;
        }

        .title {
            font-size: 3rem;
            font-weight: 600;
            color: #4d4e50;

            @media (max-width: 1199px) {
                font-size: 2rem;
            }
        }

        .description {
            color: $gray-500;
            font-size: 2rem;
            width: 100%;

            @media (max-width: 1199px) {
                font-size: 1.25rem;
            }
        }

        .close-btn {
            font-size: 2.25rem;
            color: #8a8b8d;
        }
    }

    .modal-body {
        padding-block: 0;
        padding-inline: 3.5rem;

        @media (max-width: 1199px) {
            padding-inline: 1rem;
        }

        .body-title {
            font-size: 2.5rem;
            font-weight: 600;

            margin-block: 1.5rem 1.25rem;
            color: #636467;

            @media (max-width: 1199px) {
                font-size: 1.5rem;
            }
        }

        .form-control {
            padding: 1.5rem;
            margin-bottom: 1.5rem;
            border-radius: 0.88rem;

            @media (max-width: 1199px) {
                padding: 1rem;
            }

            &::placeholder {
                font-size: 2rem;
            }
        }
    }

    .modal-footer {
        padding: 0 3.5rem 3.5rem;
        border: none;
        gap: 1rem;

        @media (max-width: 1199px) {
            padding: 0 1rem 1rem;
            gap: 0.5rem;
        }

        .btn {
            font-size: 2rem;
            font-weight: 700;
            padding: 0.5rem 5rem;

            @media (max-width: 1199px) {
                font-size: 1.25rem;
                padding: 0.5rem 1.5rem;
            }

            &:first-of-type {
                border: none;

                @media (min-width: 1200px) {
                    flex-grow: 1;
                }
            }
        }
    }

    .step-2 {
        display: none;

        .modal-footer {
            flex-direction: column;
            gap: 0;

            .btn-gradient,
            .btn-gradient-primary {
                width: 100%;
            }

            .time {
                font-size: 2rem;
                font-weight: 500;
                color: #636467;
            }

            .reset {
                font-weight: 600;
                color: $success;
                padding: 0;
            }
        }

        .otp-container {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 0.88rem;
            margin-top: 1.75rem;

            .form-control {
                width: 5rem;
                text-align: center;
                font-size: 2rem;

                @media (max-width: 1199px) {
                    width: 3.5rem;
                }
            }
        }
    }
}

.inner-modal {
    .modal-dialog {
        min-width: 100%;
        margin-top: 0;
        margin-inline: 0;
    }

    .modal-content {
        background:
            url("../images/modal-bg.png") no-repeat center left / contain,
            $white;

        padding-bottom: 2rem;

        border-radius: 0;
        border: none;

        @media (max-width: 1199px) {
            background:
                url("../images/modal-bg.png") no-repeat center / 350%,
                $white;
        }
    }

    .modal-header {
        border-bottom: none;
        padding-inline: 3.5rem;

        .close-btn {
            background-color: $white;
            color: $success;

            box-shadow: 0px 4px 14px 10px rgba($black, 0.05);
            border-radius: 50%;
            font-size: 2rem;

            width: 48px;
            height: 48px;
        }
    }

    .modal-body {
        display: grid;
        grid-template-columns: 42vw 50vw;
        padding-inline: 3.5rem;

        @media (max-width: 1450px) {
            grid-template-columns: 41vw 50vw;
        }

        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
        }
    }

    .main-list {
        display: flex;
        flex-direction: column;

        .btn {
            color: $gray-500;
            padding: 0.75rem 1.5rem;
            line-height: 0.6;
            width: 100%;
            text-align: start;
            border-radius: 0;

            @media (max-width: 1450px) {
                padding: 0.6rem 1.5rem;
            }

            @media (max-width: 1199px) {
                color: $white;
                border-radius: 0;
            }

            &.active {
                @extend .btn-gradient;
                position: relative;
                border-radius: 0.5rem;
                line-height: 1;
                margin-block: 0.25rem;

                @media (max-width: 1199px) {
                    border: none;
                }

                &::after {
                    content: url("../images/icons/arrow-left.svg");
                    position: absolute;
                    inset-inline-end: 1rem;
                    bottom: 50%;
                    transform: translateY(50%);

                    @media (max-width: 1199px) {
                        transform: translateY(50%) scale(0.7);
                    }
                }
            }

            &:not(.active) {
                border-block: 1px solid #e4e7e1;
            }

            span {
                font-size: 2.5rem;

                @media (max-width: 1450px) {
                    font-size: 2rem;
                }

                @media (max-width: 1199px) {
                    font-size: 1.5rem;
                }

                &:first-of-type {
                    font-weight: 400;
                    margin-inline-end: 1rem;
                }

                &:last-of-type {
                    font-weight: 700;
                }
            }
        }
    }

    .chid-wrapper {
        height: 100%;

        .child-menu {
            display: none;

            &.show {
                display: block;
                padding: 1.5rem 0;
                border-radius: 1rem;

                position: absolute;

                background-color: rgba($white, 0.32);
                backdrop-filter: blur(3px);

                @media (min-width: 1200px) {
                    top: 0;
                    inset-inline-end: 2rem;
                }

                @media (max-width: 1199px) {
                    padding: 0.5rem 0;
                    margin-top: 1rem;

                    top: 10%;
                    right: 50%;
                    transform: translateX(50%);

                    width: 90%;
                    backdrop-filter: blur(8px) brightness(0.8);
                }

                .close-btn {
                    font-size: 1.5rem;
                    padding: 0;
                    color: $white;

                    display: flex;
                    margin-inline-start: auto;
                }

                li {
                    padding-inline: 1.5rem 2rem;

                    &:first-of-type {
                        border-bottom: none !important;
                        padding-inline: 0.5rem;

                        @media (min-width: 1200px) {
                            display: none;
                        }
                    }

                    &:not(:hover):not(:last-of-type) {
                        border-bottom: 1px solid #a4ae9c;
                    }

                    &:hover {
                        background:
                            url("../images/arrows/right/6.svg") no-repeat center left,
                            rgba(#3b5c27, 0.5);
                    }
                }

                a {
                    color: $white;
                    font-size: 2.5rem;
                    font-weight: 600;

                    @media (max-width: 1450px) {
                        font-size: 2rem;
                    }

                    @media (max-width: 1199px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
